* {
  box-sizing: border-box;
}
@font-face {
  font-family: Minecraft;
  src: url(assets/Minecraft.ttf);
}


p {
  font-size: 16px;
  font-family: Minecraft;
  color:greenyellow;
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem;
  flex-direction: row;
  
  
}

img {
  border: 1px solid greenyellow;
  border-radius: 4px;
  padding: 5px;
  width:2 vw;
  margin-left: auto;
  margin-right: auto;
}
.catalogueRow {
  display: flex;
  flex-direction: row;
}

.characterCard--normal{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid greenyellow;
  text-align: center;
  height: 450px;
  justify-items: stretch;
    flex-wrap: wrap;

}

.characterCard--focus{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  border: 1px solid greenyellow;
}

.characterText{
  display:flex;
  flex-direction: column;
  height: 100px;
}