* {
  box-sizing: border-box;
}
@font-face {
  font-family: Minecraft;
  src: url(assets/Minecraft.ttf);
}

p {
  font-size: 16px;
  font-family: Minecraft;
  color:greenyellow;
}
body{
  background-color: #000000;
  min-width: 1000px;
}

.loadPage{
  display: flex;
  margin: 1rem;
  flex-direction: column;
  background-color: #242525;

  height: 97vh;
 
}
.loadPage__image{
  width:10vw;
  margin-left: auto;
  margin-right: auto;
}
.loadPage__imagelogo{
  margin-top: 1rem;
  width:30vw;
  margin-left: auto;
  margin-right: auto;
}
.loadPage__welcome{
  width:20vw;
  margin-left: auto;
  margin-right: auto;
  font-family: Minecraft;
  color:whitesmoke;
  text-align: center;
  font-size: 24px;

}
.loadPage__enter{
  display: flex;
  margin: 3rem;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-items: center;
  font-size: 24px;

}
.header{

  display: flex;
  flex-direction: row;
  height: 100px;

  margin-left: 40px;
  margin-right: 40px;
  justify-content: space-between;
}
.header__image{
  height: 140%;
}
.header__imageLink{
  
  height: 100%;
}
.main{
  display: flex;
  margin-top: 2.5rem;
  margin-left: 3rem;
  margin-right: 3rem;

  flex-direction: row;
  background-color: #242525;
}

.catalogue {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 1%;

}

.character--normal{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  border: 1px solid greenyellow;
  height: 300px;
  width:22%;
  margin: 1%;
  
}


.character--focus{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  border: 1px solid white;
  background-color: #4a4b4a;
  height: 300px;

  width:22%;
  margin: 1%;
}


.character__image {
  border: 1px solid greenyellow;
  border-radius: 4px;
  padding: 5px;
  width:15vw;

  margin-left: 0px;
}

.character__text{
  display:flex;
  flex-direction: column;
  font-family: Minecraft;
  color:greenyellow;
  text-align: left;

}
.character__field{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height:10%;
 text-align: left;
}

.character__label{
}
.character__value{
  text-align: right;
  color:#FFFFFF ;
}

.prevButton{
  align-items: center;
}

@media screen and (max-width:2400px) {
  .character--normal{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border: 1px solid greenyellow;
    height: 300px;
    width:30%;
    margin: 1%;
    
  }
  .character--focus{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border: 1px solid white;
    background-color: #4a4b4a;

    height: 300px;
    width:30%;
    margin: 1%;
    
  }
}
@media screen and (max-width:1400px) {
  .character--normal{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border: 1px solid greenyellow;
    height: 300px;
    width:40%;
    margin: 1%;
    
  }
  .character--focus{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border: 1px solid white;
    background-color: #4a4b4a;

    height: 300px;
    width:40%;
    margin: 1%;
    
  }
}
@media screen and (max-width:400px) {
  .character--normal{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border: 1px solid greenyellow;
    height: 300px;
    width:100%;
    margin: 1%;
    
  }
  .character--normal{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border: 1px solid white;
    background-color: #4a4b4a;
    height: 300px;
    width:100%;
    margin: 1%;
    
  }
}
@media screen and (max-height:820px) {
  .loadPage{
    display: flex;
    margin: 1rem;
    flex-direction: column;
    background-color: #242525;
    height: 93vh;
  }
  .loadPage__image{
    width:5vw;
    margin-left: auto;
    margin-right: auto;
  }
  .loadPage__imagelogo{
    margin-top: 1rem;
    width:20vw;
    margin-left: auto;
    margin-right: auto;
  }
  .loadPage__welcome{
    width:10vw;
    margin-left: auto;
    margin-right: auto;
    font-family: Minecraft;
    color:whitesmoke;
    text-align: center;
    font-size: 12px;
  }
  .loadPage__enter{
    display: flex;
    margin: 3rem;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-items: center;
    font-size: 12px;

  }
}